.historyContainer {
    display: flex;
    margin-top: 20px;
}

.card-footer {
    background-color: white;
    border: none;
    transition: background-color 1.2s ease-out;
}

.card {
    transition: transform 450ms;
    transition: background-color 1.2s ease-out;
}

.card:hover {
    background-color: #feedd1;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px rgba(255, 215, 97, 0.48);
}

.card:hover>.card-footer {
    background-color: #feedd1;
}